---
import Layout from '../../../layouts/Layout.astro'
import Project from '../../../components/Project.astro'
import PageNation from '../../../components/PageNation.astro'
import getPortfolioList from '../../../api/getPortfolioList'
import type { GetStaticPathsOptions } from 'astro'

export const getStaticPaths = async ({ paginate }: GetStaticPathsOptions) => {
  const portfolioList = await getPortfolioList()
  return paginate(portfolioList.contents, { pageSize: 3 })
}
const { page } = Astro.props
---

<Layout>
  <section class="flex flex-col gap-2 mx-auto text-left">
    <h1
      class="font-bold text-2xl sm:text-3xl lg:text-4xl text-gray-950 dark:text-white"
    >
      Projects
    </h1>
  </section>
  <section class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 mx-auto">
    {
      page.data.map((project) => {
        return <Project project={project} />
      })
    }
  </section>
  <div>
    <PageNation page={page} />
  </div>
</Layout>
