---
const { pathname } = Astro.url

let links: string[]
const linkNames = ['Home', 'Profile', 'My Skills', 'Projects']

if (pathname == '/') {
  links = ['#home', '#profile', '#my-skills', '#projects']
} else {
  links = ['/']
}
---

<header
  class="max-w-screen-lg mx-auto flex flex-wrap justify-center py-1 px-4 sm:px-6 items-center sticky top-0 z-50 lg:rounded-b-md border border-gray-300 dark:border-neutral-800 backdrop-blur-xs"
>
  <nav
    id="navbar"
    class="hidden -translate-y-[200%] transition-transform p-4 sm:block sm:translate-y-0 sm:static sm:p-0 w-full sm:w-auto text-sm lg:text-base"
  >
    <ul
      class="flex flex-col items-center gap-4 lg:gap-6 border border-dashed border-gray-500 rounded-md font-semibold text-gray-500 p-4 sm:p-2 sm:border-none sm:bg-transparent sm:flex-row"
    >
      {
        links.map((link, i) => (
          <li>
            <a
              href={link}
              class="hover:text-gray-950 dark:hover:text-white dark:text-gray-400"
            >
              {linkNames[i]}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>
<script is:inline>
  const navbar = document.getElementById('navbar')
  const navbarToggle = document.getElementById('navbar-toggle')
  const navbarXIcon = document.getElementById('navbar-x-icon')
  const navbarMenuIcon = document.getElementById('navbar-menu-icon')

  if (navbarToggle instanceof HTMLButtonElement) {
    navbarToggle.addEventListener('click', () => {
      navbarXIcon.classList.toggle('hidden')
      navbarMenuIcon.classList.toggle('hidden')

      navbar.classList.toggle('hidden')

      setTimeout(() => {
        navbar.classList.toggle('-translate-y-[200%]')
      })
    })
  }
</script>
