name: deploy-github-actions
# トリガーの設定
on:
  push:
    branches: [main]
  workflow_dispatch:
  
jobs:
  build:
    runs-on: ubuntu-latest # 実行環境の設定
    steps:
    - name: Tailscale
      uses: tailscale/github-action@a392da0a182bba0e9613b6243ebd69529b1878aa # v4
      with:
        oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT }}
        oauth-secret: ${{ secrets.TS_OAUTH_SECRET }}
        tags: tag:cicd
    - name: Execute remote SSH commands using password
      uses: appleboy/ssh-action@91f3272fc5907f4699dcf59761eb622a07342f5a # v1
      with:
        key: ${{ secrets.KEY }}
        host: ${{secrets.HOST}}
        username: ${{secrets.SSH_USER}}
        passphrase: ${{secrets.SSH_PASSPHRASE}}
        port: ${{secrets.PORT}}
        script: |
          cd portofolio
          git pull origin main
          yarn install 
          yarn build
          sudo rm -rf /usr/share/nginx/html/demo/dist
          sudo mv dist /usr/share/nginx/html/demo/
          sudo semanage fcontext -a -t httpd_sys_content_t "/usr/share/nginx/html/demo/dist(/.*)?"
          sudo restorecon -Rv /usr/share/nginx/html/demo/dist
          
